ul {
  list-style-type: none;
  font-size: 1.2rem;
  column-count: 3;
  padding: 0 15vw;
  column-rule: 1px double #1f1f1f;
  column-gap: 10%;
  text-align: left;
}

.single-col {
  columns: 1;
  text-align: center;
}

li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 20px;
}

.gins-list {
  padding: 30px 0 0 0;
}

.bottom-divider {
  width: 40%;
  height: auto;
  margin: 2% auto;
}

.message {
  font-size: 1.2rem;
  padding: 25px 15vw;
  text-align: left;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  ul {
    padding: 0 5vw;
    column-count: 1;
  }

  .message {
    padding: 0 5vw;
    font-size: 1.1rem;
  }

  .bottom-divider {
    width: 75%;
    margin: 10% auto;
  }

  .single-col {
    text-align: left;
  }
}
